:root {
  --light-green: #006b20;
  --dark-green: #006b5b;
  --black: #111315;
  --light-color: #777;
}
/* Base styles */
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.logo{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 9%;
}

.logo-title{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.logo-icon{
  position: relative;
  margin-right: 0.2rem;
}

.logo-icon i:first-child{
  font-size: 2rem;
}

.logo-icon i:last-child{
  position: absolute;
  margin-top: 0.5rem;
  right: 0;
  font-size: 0.8rem;
}

.logo-title p:first-child{
  font-weight: bold;
}

.logo-title p:first-child span{
  font-size: 1.2rem;
}

.logo-title p:last-child{
  margin-top: 0;
  font-size: 0.5rem;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.container-heading{
  color: #777;
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 1rem;
}

#typewriter-container{
  text-align: left;
  padding-left: 300px;
}

#typewriter-container hr{
  color:#777;
  width: 900px;
}
.container-assistance {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
  padding: 20px;
}

#typewriter-container-assistance{
  text-align: left;
}

#years {
  font-size: xx-large;
  color: var(--light-green);
}

#more {
  color: var(--light-green);
}

#unique {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.4rem;
  padding-right: 16rem;
}

#case-one {
  /* background-image: url("./images/case_study_1.jpg");
  background-size: cover;
*/ 
   width:50%;
   background-color: rgb(131, 41, 9);
}
#case-two {
  /* background-image: url("./images/case_study_2.jpg");
  background-size: cover; */
   width:50%;
   background-color: #333;
}
#case-three {
  /* background-image: url("./images/case_study_3.jpg");
  background-size: cover; */
  background-color: #333;
}
#upper {
  display: flex;
  flex-direction: row;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
}

hr {
  border: none;
  height: 1px;
  background-color: #ddd;
  margin: 15px 0;
}

/* Header styles */
header {
  padding: 1rem 9%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

header img {
  height: 4rem;
  width: 9rem;
  color: var(--black);
}

header .nav-links li a {
  font-size: 0.9rem;
  margin-left: 1.5rem;
}

header .nav-links li a:hover {
  color: var(--black);
}

.nav-links {
  display: flex;
  justify-content: space-between;
  padding-right: 1.5rem;
}

.nav-links li {
  margin-right: 20px;
}
/* Hero section styles */

.hero {
  background-image: url("images/hero-alternate.jpg"); /* Replace with your background image */
  background-size: cover;
  background-position: center;
  padding: 0 0 100px 0;
  color: #fff;
  text-align: center;
}

.typewriter {
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  font-size: 8em;
  overflow: hidden;
  border-right: 0.15em solid var(--dark-green);
  white-space: nowrap;
  margin: 0 auto;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

/* About Us section styles */

.about-us {
  text-align: center;
  padding-left: 300px;
}

.about-us-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.about-us-content .container-assistance p {
  margin: 20px;
}

.about-us-content > div {
  display: flex;
  flex-direction: column;
}

.about-us-content > div p:last-child {
  align-items: flex-start;
  font-size: 0.5rem;
  margin-right: 50px;
}

.about-us-content p:first-child {
  margin-right: 90px;
}

.about-us-content p:first-child span {
  margin-right: 0.6rem;
}
#about-us-assistance{
  text-align: left;
}
/* Services section styles */

.services {
  background-color: #f5f5f5;
  padding: 50px 0;
}

.services-heading {
  text-align: center;
  margin-bottom: 30px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  justify-content: center;
}

.service {
  text-align: left;
  padding: 20px;
  height: 150px;
  margin-bottom: 20px;
}

.service i {
  font-size: 2em;
  margin-bottom: 10px;
  color: var(--light-color);
}

.service p {
  margin-bottom: 50px;
  color: var(--light-color);
  font-size: 0.7rem;
}

.service h4 {
  margin-bottom: 10px;
}

.green {
  background-color: var(--dark-green);
  color: #fff;
}

hr {
  height: 5px;
  width: 300px;
  color: var(--light-green);
}
 
#BSA {
  background-image: url("images/case_study_1.jpg");
  background-size: cover;
  background-position: center; /* Or background-position: center center; */
  background-color: rgba(0, 0, 0, 0); /* Adjust opacity as desired */
  color: #fff;
}

#BSA hr{
  height: 40px;
}

#BSA i {
  color:#fff
}

#BSA p {
  color:#fff
}
/* Case Studies section styles */

.case-studies {
  background-color: #fff;
  padding: 50px 0;
}

.case-study {
  margin: 10px;
  position: relative;
  text-align: left;
  padding: 20px;
  height: 150px;
}

.case-study img {
  width: 100%;
  border-radius: 5px;
}

.case-study p {
  margin-top: 10px;
  color:#fff
}

.case-study h4{
  font-size: 1rem;
  margin-bottom: 0.3rem;
}

.case-study p:first-child{
 font-size: 0.7rem;
 margin-bottom: 1rem;
}

.case-study p:last-child{
  font-size: 0.9rem;
}

.case-study-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  color: #999;
}

.case-study-info span {
  cursor: pointer;
}

/* Recent Blogs section styles */

.recent-blogs {
  background-color: #F5F6F8;
  padding: 50px 0;
}

.blog {
  position: relative;
  text-align: left;
  padding: 20px;
  background-color: #fff;
  height: 150px;
}

.blog h4{
   font-size: 1rem;
   margin-bottom: 0.3rem;
}

.blog p:first-child{
  color:#777;
  font-size: 0.7rem;
  margin-bottom: 1rem;
}

.blog h4 + p{
  font-size: 0.5rem;
  color:#777;
}

.blog span {
  font-size: 0.7rem;
  position: absolute;
  bottom: 0;
  right: 0;
  color:#777;
  margin-right: 0.8rem;
  margin-bottom: 0.8rem;
}

.blog span > i {
  margin-left: 0.2rem;
}

.blogs-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  justify-content: center;
}

#blog-heading {
  color: var(--light-green);
}
/* Testimonial section styles */

.testimonial {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonial-container{
  max-width: 1000px;
  margin: 0 auto;
}

.testimonial-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.testimonial-content .left-side {
  padding: 3rem 6rem;
}

.testimonial-content .right-side {
  padding: 4rem 6rem;
}

.testimonial-content .left-side p {
  font-size: 0.8rem;
  color:#777;
}

.testimonial-content .right-side {
  background-color: var(--light-green);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  width: 190%;
}

.testimonial-content .right-side p:first-child {
  font-family: 'Times New Roman', Times, serif;
  font-size: 0.8rem;
  color: white;
  margin-bottom: 1rem;
}

.testimonial-content p + p {
  font-weight: bold;
  font-size: 0.5rem;
  color: white;
}
.loading-dots {
  display: inline-block;
  position: relative;
  width: 8px;
  height: 8px;
  margin-top: 10px;
  background: #fff;
  border-radius: 50%;
  animation: blink 1.2s infinite ease-in-out;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Call to Action section styles */

.call-to-action {
  background-color: #F5F6F8;;
  padding: 50px 0;
}

.call-to-action-container {
  display: flex;
  justify-content: space-between;
}

.call-to-action p:first-child {
  margin-bottom: 20px;
}

.call-to-action button {
  background-color: #fff;
  border: 1px solid var(--dark-green);
  padding: 8px 20px;
  border-radius: 20px;
  cursor: pointer;
}

/* Footer styles */

footer {
  background-color: #181717;
  color: #fff;
  padding: 50px 0;
  text-align: center;
}

footer .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-info,
.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 30px;
}

.contact-info p {
  color:#777;
  font-size: 0.8rem;
}

.contact-info hr {
  color:#777;
  height: 0.2px;
}
.footer-info p:first-child{
  font-weight: bold;
  color:#777;
  font-size: 0.7rem;
  margin-bottom: 1rem;
}

.footer-info p + p{
  text-align: left;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.social-media {
  display: flex;
}

.social-media li {
  margin-right: 10px;
}

.social-media a {
  color: #fff;
}

.contact-info button {
  color: #fff;
  background-color: var(--dark-green);
  border: none;
  padding: 8px 20px;
  border-radius: 20px;
  cursor: pointer;
}

#copyright-section{
  display: flex;
  flex-direction: column;
}

#copyright-section hr{
  color:#777;
  height: 0.2px;
  width: 100%;
}
#copyright-section p{
  font-size: 0.7rem;
  color:#777;
  height: 0.2px;
  width: 100%;
}

