:root {
  --light-green: #006b20;
  --dark-green: #2c9665;
  --black: #111315;
  --light-color: #777;
}

* {
  box-sizing: border-box;
}

/* Base styles */
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
}

.backdrop {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 9%;
}

.logo-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.logo-icon {
  position: relative;
  margin-right: 0.2rem;
}

.logo-icon i:first-child {
  font-size: 2rem;
}

.logo-icon i:last-child {
  position: absolute;
  margin-top: 0.5rem;
  right: 0;
  font-size: 0.8rem;
}

.logo-title p:first-child {
  font-weight: bold;
}

.logo-title p:first-child span {
  font-size: 1.2rem;
}

.logo-title p:last-child {
  margin-top: 0;
  font-size: 0.5rem;
}

.container {
  max-width: 1000px;
  padding: 20px;
}

.about-us-container {
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.extra-container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 20px;
}

.footer-container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.container-heading {
  color: #777;
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 1rem;
}

#search-bar {
  padding: 0.5rem 1rem;
}

#typewriter-container {
  text-align: left;
  width: 115%;
  padding-left: 300px;
  padding-right: 0;
}

#typewriter-container hr {
  border-color: #777;
  /* border-color: #555555; */
  border-top: none;
  border-left: none;
  border-right: none;
  width: 115%;
}
.container-assistance {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
  padding: 20px;
}

#typewriter-container-assistance {
  text-align: left;
  font-size: 0.8rem;
  margin-top: 2rem;
}

#years {
  font-size: 2rem;
  color: var(--light-green);
}

#more {
  color: var(--light-green);
  font-size: 0.7rem;
}

#unique {
  font-family: "Playfair Display", serif;
  font-size: 1.4rem;
  padding-right: 10rem;
}

#case-one {
  /* background-image: url("./images/case_study_1.jpg");
  background-size: cover;
*/
  width: 50%;
  background-color: #f36e21;
}
#case-two {
  background-image: url("./images/MMC-Africa.png");
  background-size: cover;
  width: 50%;
  /* background-color: #333; */
}
#case-three {
  background-image: url("./images/case_study_dark_A.jpg");
  background-size: cover;
  /* background-color: #333; */
}
#upper {
  display: flex;
  flex-direction: row;
}
#case-one img {
  margin-top: 4rem;
  width: 20%;
  height: 20%;
}
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
}

/* Header styles */
header {
  padding: 1rem 9%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

header img {
  height: 4rem;
  width: 9rem;
  color: var(--black);
}

header .nav-links li a {
  font-size: 0.6rem;
  margin-left: 1.5rem;
}

header .nav-links li a:hover {
  font-size: 1.2rem;
  font-weight: bold;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  padding-right: 1.5rem;
}

.nav-links li {
  margin-right: 20px;
}

.main-nav + a {
  font-size: 0.6rem;
}

.main-nav + a:hover {
  font-size: 1.2rem;
  font-weight: bold;
}
/* Hero section styles */

.hero {
  background-image: url("images/hero-alternate.jpg"); /* Replace with your background image */
  background-size: cover;
  background-position: center;
  padding: 0 0 20px 0;
  color: #fff;
  text-align: center;
}

.typewriter {
  font-weight: bold;
  font-family: "Playfair Display", serif;
  font-size: 5em;
  width: 115%;
  overflow: hidden;
  border-right: 0.08em solid var(--dark-green);
  white-space: nowrap;
  margin: 0 auto;
  margin-bottom: 1.2rem;
  animation: typing 3.5s steps(40, end), blink-caret 2s step-end infinite;
}

.typewriter-icon {
  margin-top: 100px;
  font-size: 0.6rem;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--dark-green);
  }
}

/* About Us section styles */

.about-us {
  text-align: center;
  padding-left: 300px;
}

.about-us-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.about-us-content .container-assistance p {
  margin: 10px;
}

.about-us-content > div {
  display: flex;
  flex-direction: column;
}

.about-us-content > div p:last-child {
  align-items: flex-start;
  font-size: 0.6rem;
  margin-right: 20px;
  margin-bottom: 30px;
}

.about-us-content p:first-child {
  margin-right: 90px;
}

.about-us-content p:first-child span {
  margin-right: 0.6rem;
}

#about-us-assistance {
  text-align: left;
  font-size: 0.9rem;
}
/* Services section styles */

.services {
  background-color: #f5f5f5;
  padding: 50px 0;
}

.services-heading {
  text-align: center;
  margin-bottom: 30px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  justify-content: center;
}

.service {
  text-align: left;
  padding: 20px;
  height: 250px;
  width: 250px;
  border-bottom: 6px solid #006b20;
  margin-bottom: 20px;
  /* Added transition for smooth hover effect */
  transition: background-image 0.3s ease, border-bottom 0.3s ease,
    color 0.3s ease;
}

.service:hover {
  background-image: url("images/case_study_dark.jpg");
  background-size: cover;
  background-position: center;
  border-bottom: 20px solid var(--light-green);
  color: #fff;
}

.service:hover i,
.service:hover p {
  color: inherit; /* Inherit color from parent on hover */
}

.service i {
  font-size: 2em;
  margin-bottom: 10px;
  color: var(--light-color);
}

.service p {
  margin-bottom: 50px;
  color: var(--light-color);
  font-size: 0.7rem;
}

.service h4 {
  margin-bottom: 10px;
}

.green {
  background-color: var(--dark-green);
  color: #fff;
}

/* Case Studies section styles */

.case-studies {
  background-color: #fff;
  padding: 50px 0;
}

.case-study {
  margin: 10px;
  position: relative;
  text-align: left;
  padding: 20px;
  height: 250px;
}

.case-study img {
  width: 100%;
  border-radius: 5px;
}

.case-study p {
  color: #fff;
}

.case-study p:first-child {
  font-size: 0.7rem;
  margin-bottom: 1rem;
}

.case-study p:last-child {
  font-size: 0.9rem;
}

.case-study-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  color: #999;
}

.case-study-info span {
  cursor: pointer;
}

/* Recent Blogs section styles */

.recent-blogs {
  background-color: #f5f6f8;
  padding: 50px 0;
}

.blog {
  position: relative;
  text-align: left;
  padding: 20px;
  background-color: #fff;
  height: 210px;
}

.blog h4 {
  font-size: 1rem;
  margin-bottom: 0.3rem;
}

.blog p:first-child {
  color: #777;
  font-size: 0.7rem;
  margin-bottom: 1rem;
}

.blog h4 + p {
  font-size: 0.5rem;
  color: #777;
}

.blog span {
  font-size: 0.7rem;
  position: absolute;
  bottom: 0;
  right: 0;
  color: #777;
  margin-right: 0.8rem;
  margin-bottom: 0.8rem;
}

.blog span > i {
  margin-left: 0.2rem;
}

.blogs-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  justify-content: center;
}

.blog:hover h4 {
  color: var(--light-green);
}
/* Testimonial section styles */

.testimonial {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonial-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.testimonial-content .left-side {
  padding-right: 3rem;
  margin-left: 22rem;
  margin-bottom: 2.5rem;
}

.testimonial-content .right-side {
  padding: 4rem 6rem;
}

.testimonial-content .left-side p {
  margin-top: 1rem;
  font-size: 0.8rem;
  color: #777;
}

.testimonial-content .right-side {
  background-color: var(--dark-green);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  width: 66%;
}

.testimonial-text {
  display: none; /* Space between testimonials */
}

.testimonial-text p:first-child {
  font-family: "Playfair Display", serif;
  font-size: 1rem;
  color: white;
  margin-bottom: 2rem;
}

.testimonial-text p + p {
  font-weight: bold;
  font-size: 0.6rem;
  color: white;
}

.loading-dot-container {
  display: flex;
  flex-direction: row;
  margin-left: 14rem;
  margin-top: 2rem;
}

.loading-dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-top: 10px;
  margin-left: 5px;
  border-radius: 50%;
  background-color: #ddd;
  cursor: pointer; /* Indicate clickable element */
}

.loading-dot.active {
  background-color: #006b20; /* Active dot color */
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Call to Action section styles */

.call-to-action {
  background-color: #f5f6f8;
  padding: 50px 0;
}

.call-to-action-text {
  font-family: "Playfair Display", serif;
}

.call-to-action-container {
  display: flex;
  justify-content: space-between;
}

.call-to-action p:first-child {
  margin-bottom: 20px;
}

.call-to-action button {
  background-color: #fff;
  color: var(--dark-green);
  border: 1px solid var(--dark-green);
  padding: 0.5rem 2rem;
  border-radius: 20px;
  cursor: pointer;
}

/* Footer styles */

footer {
  background-color: #181717;
  color: #ffffffda;
  padding: 50px 0;
  text-align: center;
}

footer .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-info,
.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.contact-info {
  margin: 40px 0 0 180px;
}

.contact-info p {
  color: #ffffffda;
  font-size: 0.8rem;
}

.contact-info p:first-child {
  margin-bottom: 1rem;
}

.footer-info p + p {
  text-align: left;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

footer hr {
  border-color: #555555;
  border-top: none;
  border-left: none;
  border-right: none;
  height: 0.5px;
  width: 100%;
}

.contact-info hr {
  border-color: #555555;
  border-top: none;
  border-left: none;
  border-right: none;
  height: 0.5px;
  width: 290%;
}

.social-media {
  display: flex;
}

.social-media li {
  margin-right: 10px;
}

.social-media a i {
  font-size: 0.8rem;
  color: #ffffffda;
}

.contact-info button {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: bold;
  color: #fff;
  background-color: var(--dark-green);
  border: none;
  padding: 8px 20px;
  border-radius: 20px;
  cursor: pointer;
}

.copyright-container {
  max-width: 1000px;
  text-align: left;
  margin: 0 auto;
}

#copyright-section {
  display: flex;
  flex-direction: column;
}

#copyright-section p {
  font-size: 0.8rem;
  color: #777;
  width: 100%;
}

.toggle-button {
  border: none;
  background-color: inherit;
  color: #fff;
}

.open {
  display: block !important;
}

.mobile-nav {
  display: none;
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  background: var(--light-green);
  width: 50%;
  height: 100vh;
}

.mobile-nav__items {
  width: 90%;
  height: 100%;
  list-style-type: none;
  margin: 10% auto;
  padding: 0;
  text-align: center;
}

.mobile-nav__items li {
  margin: 1rem 0;
}

.mobile-nav__item a {
  font-size: 1.5rem;
}

/* Responsive styles for mobile and tablets */

@media (max-width: 1280px) {
  .testimonial-content .left-side {
    margin-left: 12rem;
    margin-bottom: 2.5rem;
    padding: 3rem 5rem;
  }
  .testimonial-content .right-side {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  #typewriter-container {
    width: 80%;
  }
  .testimonial-content .left-side {
    margin-left: 5rem;
  }
}

@media (max-width: 900px) {
  .services {
    padding-left: 150px;
  }
  .contact-info hr {
    width: 150%;
  }
} 

@media (max-width: 850px) {
  .services {
    padding-left: 80px;
  }
  .testimonial-content .left-side {
    margin-left: 5rem;
  }
  .testimonial-content .right-side {
    width: 58%;
  }
  .contact-info hr {
    width: 150%;
  } 
}

@media (max-width: 850px) {
  .grid-container {
    padding: 50px 50px;
  }
  .testimonial-content .left-side {
    margin-left: 5rem;
  }
  .testimonial-content .right-side {
    width: 58%;
  }
  .contact-info hr {
    width: 100%;
  } 
}
@media (max-width: 768px) {
  .container-heading {
    font-size: 0.8rem;
  }
  .grid-container {
    padding: 50px 50px;
  }
  .loading-dot-container {
    margin-left: 0;
  }
  #typewriter-container {
    padding-left: 30px;
    width: 80%;
  }
  .typewriter {
    font-size: 5em;
  }
  .about-us {
    text-align: center;
    padding-left: 50px;
  }
  .about-us-content {
    flex-direction: column;
  }
  .service {
    height: 250px;
  }
  .case-study {
    height: 220px;
  }
  .testimonial-content {
    flex-direction: column;
  }
  .testimonial-content .left-side {
    padding-right: 0;
    margin-left: 0.05rem;
    margin-right: 2rem;
  }
  .testimonial-content .right-side {
    width: 100%;
  }
  .call-to-action-container {
    flex-direction: column;
  }
  .call-to-action p:first-child {
    margin-left: 20px;
    font-size: 0.8rem;
  }
  footer .container {
    flex-direction: column;
  }
  .footer-container {
    padding: 50px 50px;
  }
  #unique {
    padding-left: 60px;
  }
  #upper {
    flex-direction: column;
  }
  #case-one,
  #case-two,
  #case-three {
    width: 80%;
  }
  #copyright-section p {
    font-size: 0.5rem;
    text-align: center;
  }
  #search-bar {
    margin-left: 0.5rem;
    padding: 0.5rem;
    width: 70%;
  }
  .main-nav {
    display: none;
  }
  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .contact-info {
    margin-left: 0;
  }
  .contact-info hr {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .toggle-button,
  .mobile-nav {
    display: none;
  }
}
